html {
  box-sizing: border-box;
}

.contenedor-menu {
  width: 100%;
  background-color: red;
  padding: 10px;
  position: fixed;
  margin: -10px;
}

.contenedor-menu img {
  transform: scale(0.8);
  float: left;
}

.contenedor-menu .fa:hover {
  color: gray;
  border: 1px gray solid;
}

.contenedor-menu .fa {
  transition: 0.2s;
  border: 1px red solid;
  padding: 10px;
  float: left;
}

.publi img {
  width: 100%;
}

.publi {
  display: flex;
  flex-wrap: wrap;
}

img[src="../media/foto.png"] {
  height: 33vh;
}

img[src="../media/publi.png"] {
  height: 33vh;
}

img[src="../media/publi3.png"] {
  margin-top: 1vh;
}


@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .publi {
    display: none;
  }
}

.publi::after {
  content: "";
  clear: both;
  display: table;
}
