html {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(red,blue);
}
.iconos:hover {
    transition: 0.1s;
    color: red;
}
li {
    border-bottom: 2px transparent solid;
}
li:hover {
    border-bottom: 2px orange solid;
}